
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: burlywood;
    color: black;
}

header{
 padding: 16px;
 margin: 0px;
 background-color: wheat;
 text-align: center;
}

header h1{
    margin: 0;
    font-size: 36px;

}

nav {
    background-color: brown;
    text-align: right;
    padding: 15px;

}

nav a {
    color: black;
    text-decoration: none;
    margin: 15px;
    padding: 4px;


}

section {
 padding: 16px;
 margin: 16px;

 background-color: wheat;
 border-radius: 16px;

}

footer {

    text-align: center;
    padding: 15px;


}
