
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffff;
    color: #0000;
}

header{
 padding: ;
}

header h1{
    margin: 0;
    font-size: 36px;
}

nav {
    background-color: brown;
    text-align: right;
    padding: 15px;

}

nav a {
    color: #ffff;
    text-decoration: none;
    margin: 15px;
}